#header-container {
    width: calc(min(1212px, 100% - (100% * .15)));
    height: 100px;
    border-radius: 50px;
    margin: 50px 0 90px;
    padding: 25px 40px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, .10);
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
}

#logo-button {
    height: 100%;
    display: flex;
    align-items: center;
}

#logo-image {
    height: 100%;
    margin-right: 18px;
    /* border-radius: 50%; */
    /* box-shadow: 0px 5px 6px rgba(107, 107, 107, .25); */
}

#logo-title {
    font-size: 30px;
    font-weight: 700;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -.07em;
}

#logo-title-2 {
    color: #864AF9;
}

#header-pages {
    display: inline-block;
}

#header-page-button,
#header-page-container-button {
    font-size: 16px;
    font-weight: 500;
    color: #989898;
    font-family: "Montserrat", sans-serif;
    position: relative;
}

#header-page-button-pointer {
    position: absolute;
    height: 8px;
    aspect-ratio: 1;
    border-radius: 4px;
    background-color: #864AF9;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    transform: translateY(-5px);
}

#header-page-container-button {
    height: 50px;
    width: 165px;
    border-radius: 25px;
    background-color: #3C226F;
    color: #FFFFFF;
}